In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [8]:
df = pd.read_csv("salaries.csv")
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [9]:
X = df.drop(columns="salary_more_then_100k")
y = df["salary_more_then_100k"]
display(X.head())
y.head()

  company                  job     degree
0  google      sales executive  bachelors
1  google      sales executive    masters
2  google     business manager  bachelors
3  google     business manager    masters
4  google  computer programmer  bachelors

0    0
1    0
2    1
3    1
4    0
Name: salary_more_then_100k, dtype: int64

In [15]:
# converting different attributes into numerical data for analysis

from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

X["company"] = le.fit_transform(X["company"])
X["job"] = le.fit_transform(X["job"])
X["degree"] = le.fit_transform(X["degree"])
X

    company  job  degree
0         2    2       0
1         2    2       1
2         2    0       0
3         2    0       1
4         2    1       0
5         2    1       1
6         0    2       1
7         0    1       0
8         0    0       0
9         0    0       1
10        1    2       0
11        1    2       1
12        1    0       0
13        1    0       1
14        1    1       0
15        1    1       1

In [67]:
# building our model
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test  = train_test_split(X, y, test_size=0.2)


model = DecisionTreeClassifier()
model.fit(X_train, y_train)

DecisionTreeClassifier()

In [68]:
# Checking the accuracy of the model
from sklearn.metrics import accuracy_score

predictions = model.predict(X_test)
accuracy = accuracy_score(predictions, y_test)
accuracy

0.75